.shape {
    width: 30px;
    height: 30px;
    background: #E4002B;
    margin: 0 3px;
}

.container {
    width: 100%;
    margin: 10rem 0;
    background: #F1F3F6 !important;
}


.card {
    background-color: #fff;
    border-radius: 25px;
    width: 100%;
}

.imageContainer {
    display: block;
    position: relative;
    bottom: 8rem;
    height: auto;
    width: 220px;
    height: 220px;
}

.imageStyle {
    width: 220px;
    height: 220px;
    object-fit: fill;
}


.title {
    color: #393F52;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.position {
    position: relative;
    top: -8rem;
}

.desc {
    color: #6A6E8E;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.closeButton {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: -3rem;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
}