.imageTitle {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    max-width: 100%;
}

.imageContainer {
    width: 100vw;
    height: 305px;
}


@media screen and (max-width:500px) {
    .imageContainer {
        height: auto;
    }
}